<%-include('../cabecalho.ejs')%>
<h1>Editar Quarto</h1>
<div>
    <a href="/quarto/lst" class="btn">Listar Quartos</a>
</div>
<div>
    <form method="post">
        <input type="hidden" name="id" value="<%=Quarto._id%>">
        
        <label>Diária:</label>
        <input type="number" step="0.01" name="diaria" value="<%=Quarto.diaria%>" required><br>
        
        <label>Número:</label>
        <input type="number" name="numero" value="<%=Quarto.numero%>" required><br>
        
        <label>Capacidade:</label>
        <input type="number" name="capacidade" value="<%=Quarto.capacidade%>" required><br>
        
        <label>Andar:</label>
        <input type="number" name="andar" value="<%=Quarto.andar%>" required><br>
        
        <label>Tipo de Quarto:</label>
        <select name="tipquarto" required>
            <option value="" disabled selected>SELECIONE</option>
            <% Tipquartos.forEach(function(tipo){ %>
                <option value='<%=tipo._id%>' 
                    <%=Quarto.tipquarto.equals(tipo._id) ? 'selected' : ''%>>
                    <%=tipo.nome%>
                </option>
            <% }) %>
        </select><br>

        <button type="submit" class="btn edit">Atualizar</button>
        <a href="/quarto/lst" class="btn">Voltar</a>
    </form>
</div>
<%-include('../rodape.ejs')%>
